.coinsContainer {
  margin: 3rem auto;
  text-align: center;
}

.coinsContainer h2 {
  font-size: 2.2rem;
}

.coinsContainer p {
  width: 50%;
  font-size: 1rem;
  margin: 2rem auto;
}

.skeletonContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cardSlider {
  background: var(--background);
  height: 30rem;
  padding: 5rem 4rem;
  border-radius: var(--radius);
}

@media (max-width: 1024px) {
  .cardSlider {
    display: none;
  }
}
@media (max-width: 600px) {
  .coinsContainer p {
    width: 80%;
    font-size: 1rem;
    margin: 2rem auto;
  }
}
