.heroContainer {
  padding: 10rem 0 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  padding: 0 2rem 0 1rem;
  width: 100%;
}

.textContainer h1 {
  letter-spacing: var(--spacing);
  font-size: 3rem;
}
.textContainer span {
  color: var(--gray-800);
}

.textContainer h3 {
  color: var(--gray-800);
  letter-spacing: var(--spacing);
  font-size: 1.7rem;
}
.textContainer p {
  margin: 2rem 0;
}

.imgContainer {
  width: 70%;
}

@media (max-width: 1023px) {
  .imgContainer {
    width: 400px;
    transform: translateX(-5rem);
  }
}

@media (max-width: 980px) {
  .heroContainer {
    padding-left: 10rem;
  }
  .imgContainer {
    width: 360px;
  }
}

@media (max-width: 860px) {
  .imgContainer {
    display: none;
  }
  .heroContainer {
    padding: 10rem 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 520px) {
  .heroContainer {
    padding: 10rem 0 0 1rem;
  }

  .textContainer h1 {
    font-size: 2.3rem;
  }
  .textContainer h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 360px) {
  .heroContainer {
    padding: 10rem 0 0 0.5rem;
  }
  .textContainer h1 {
    font-size: 1.7rem;
  }
  .textContainer h3 {
    font-size: 1.2rem;
  }
}
