.navbar {
  background: var(--background);
  box-shadow: var(--light-shadow);
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logoText {
  color: var(--white);
  font-size: 1.7rem;
  letter-spacing: var(--spacing);
  margin-bottom: 5px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoIcon {
  color: var(--orange);
  margin-right: 5px;
}

.navToggle {
  display: none;
}

.navToggle:hover {
  transform: rotate(90deg);
}

.navCenter {
  /* max-width: 1170px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.links {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

.link {
  color: var(--white);
}

.link:hover {
  color: var(--orange);
}

.user {
  display: flex;
  gap: 1rem;
}

.login,
.signUp {
  background: var(--orange-background);
  border: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
}

.login {
  background: transparent;
}

@media (max-width: 1042px) {
  .navToggle {
    display: flex;
    font-size: 1.8rem;
    color: var(--white);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: var(--transition);
  }

  .linksContainer {
    display: none;
  }
}

@media (max-width: 486px) {
  .login,
  .signUp {
    display: none;
  }
}
