/* Variables */

:root {
  --gray-200: #ccd1d6;
  --gray-400: #838c96;
  --gray-700: #414b56;
  --gray-800: #1f2937;
  --blue-primary: #4353ff;
  --background: linear-gradient(210.01deg, #1712f3 18%, #4353ff 50%);
  --orange-background: linear-gradient(210.01deg, #ff440a 18%, #fe8b04 50%);
  --red: #dd2929;
  --green: #24922d;
  --black: #222;
  --white: #fff;
  --orange: #f35827;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* Global styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--gray-700);
}

/* Global Classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.text-gradient {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(8deg, #1712f3 10%, #4353ff);
}

.headerBottom {
  padding-top: 10rem;
}

.underline {
  border-top: solid 4px var(--orange);
  width: 30%;
  margin-top: -10px;
  margin-bottom: 2rem;
}
.underlineGray {
  border-top: solid 2px var(--gray-400);
  width: 50%;
  margin: 1rem auto 2rem auto;
}

.underline-center {
  width: 20%;
  margin: 2rem auto;
}

.primaryBtn {
  background: var(--background);
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  color: var(--white);
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.primaryBtn:hover {
  background: var(--orange-background);
}

.red {
  color: var(--red);
}
.green {
  color: var(--green);
}

.coinPriceChange {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .coinPriceChange {
    display: none;
  }
}
